<div>
    <h1>
        channel list
    </h1>
    <p>
        Click on the channel name to edit it
    </p>
    <ul>
        <li *ngFor="let channel of channels; index as i" class="channel-row">
            <div *ngIf="i === channelClickedNumber">
                <input type="text" [(ngModel)]="nameInput" />
                <button (click)="editChannel()">Edit</button>
            </div>
            <div *ngIf="i !== channelClickedNumber">
                <span (click)="clickOnChannel(i)">{{ channel.name || "No channel name provided" }}</span>
            </div>
            <button (click)="deleteChannel(channel.id)">delete</button>
        </li>
    </ul>
</div>
