<div class="message-list">
    <h1>Message List</h1>
    <div>
        <div *ngFor="let message of messages">
            <div class="message-row">
                <p>
                    {{ message.content.text }}
                </p>
                <div class="message-row__forward-icon__container" (click)="forwardMessage(message)">
                    <img src="assets/forwardIcon.png" class="message-row__forward-icon" />
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="isPaginationEnd" (click)="loadMoreHistoricalMessages()">Load more historical messages</button>
    <button (click)="inviteSomeoneToThisChannel()">Invite someone to this channel</button>
</div>
