.message-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-row__forward-icon {
  width: 20px;
  height: 20px;
}

.message-row__toolbox {
  display: flex;
  flex-direction: row;
}

.message-row__content {
  border: 1px solid red;
}

.message-row__forward-icon__container {
  cursor: pointer;
}

.message-row__thread-messages-container {
  padding-left: 32px;
}

.linked-text {

}

.thread-input__container {
  padding: 16px 0 16px 80px;
}
