<div class="message-input">
    <h1>Message Input</h1>
    <ul *ngIf="suggestedUsers.length">
        <li *ngFor="let user of suggestedUsers">
            <div>
                <span>{{ user.id }}</span>
                <span>---</span>
                <span>{{ user.name }}</span>
                <button (click)="toggleUserToNotify(user)">Add this user to users to be notified</button>
            </div>
        </li>
    </ul>
    <div *ngIf="!suggestedUsers.length">
        <span>No user suggestions using this phrase</span>
    </div>
    <div *ngIf="currentlyHighlightedMention.mentionedUser" class="currently-highlighted-mention">
        <strong>You are currently highlighting this user:</strong>
        <p>id: {{ currentlyHighlightedMention.mentionedUser.id }}</p>
        <p>name: {{ currentlyHighlightedMention.mentionedUser.name }}</p>
        <button (click)="removeUserFromNotification(currentlyHighlightedMention.nameOccurrenceIndex)">Remove from notification by clicking here</button>
    </div>
    <textarea type="text" [(ngModel)]="pubnubInput" [value]="newMessageDraft.value" (ngModelChange)="handleInput($event)" class="input" (keydown)="handleCaret($event)" #textAreaElement></textarea>
    <button (click)="handleSend()">
        Send
    </button>
</div>
