<div class="message-input">
    <ul *ngIf="suggestedUsers.length">
        <li *ngFor="let user of suggestedUsers">
            <div>
                <span>{{ user.id }}</span>
                <span>---</span>
                <span>{{ user.name }}</span>
                <button (click)="toggleUserToNotify(user)">Add this user to users to be notified</button>
            </div>
        </li>
    </ul>
    <ul *ngIf="suggestedChannels.length">
        <li *ngFor="let channel of suggestedChannels">
            <div>
                <span>{{ channel.id }}</span>
                <span>---</span>
                <span>{{ channel.name }}</span>
                <button (click)="toggleChannelToReference(channel)">Reference this channel</button>
            </div>
        </li>
    </ul>
    <div *ngIf="!suggestedUsers.length">
        <span>No user suggestions using this phrase</span>
    </div>
    <div *ngIf="!suggestedChannels.length">
        <span>No channels suggestions using this phrase</span>
    </div>
    <div *ngIf="currentlyHighlightedMention.mentionedUser" class="currently-highlighted-mention">
        <strong>You are currently highlighting this user:</strong>
        <p>id: {{ currentlyHighlightedMention.mentionedUser.id }}</p>
        <p>name: {{ currentlyHighlightedMention.mentionedUser.name }}</p>
        <button (click)="removeUserFromNotification(currentlyHighlightedMention.nameOccurrenceIndex)">Remove from notification by clicking here</button>
    </div>
    <dialog *ngIf="isAddTextLinkDialogOpen" open>
        <fieldset>
            <label for="textLinkDialogValuesText">Text</label><br>
            <input id="textLinkDialogValuesText" type="text" [(ngModel)]="textLinkDialogValues.text" /><br>
            <label for="textLinkDialogValuesLink">Link</label><br>
            <input id="textLinkDialogValuesLink" type="text" [(ngModel)]="textLinkDialogValues.link" /><br>
            <button (click)="handleDialogClose()" class="button">Ok</button>
        </fieldset>
    </dialog>
    <button (click)="removeTextLink()">Remove link from this string</button>
    <button (click)="toggleAddTextLinkDialog()" class="button">Open text link dialog</button>
    <div *ngIf="quotedMessage">
        <p>You are quoting user: {{ quotedMessage.userId }}</p>
        <p>Quote content: {{ quotedMessage.text }}</p>
    </div>
    <textarea type="text" [(ngModel)]="pubnubInput" [value]="newMessageDraft.value" (ngModelChange)="handleInput($event)" class="input" (keydown)="handleCaret($event)" #textAreaElement></textarea>
    <button (click)="handleSend()">
        Send
    </button>
    <h3>Message preview</h3>
    <span *ngFor="let messagePart of messagePreview">
        <span [innerHTML]="renderMessagePart(messagePart) | byPassSecurity"></span>
    </span>
</div>
