<div id="app" class="flex">
  <div class="column" *ngIf="channel">
    <h1>SDK</h1>
    <div>
      <p>PubNub initialized with: {{ pubnub.getUUID() }}</p>
    </div>
    <app-message-input-sdk [pubnub]="pubnub" [channel]="channel.id" [typingSent]="typingSent" />
    <app-typing-indicator-sdk [typingReceived]="typingReceived" [pubnub]="pubnub" />
    <app-message-list-sdk [pubnub]="pubnub" [channel]="channel.id" />
    <app-create-channel-modal-sdk [pubnub]="pubnub" />
    <app-channel-list-sdk [pubnub]="pubnub" />
    <button (click)="toggleCreateChannelModalJSSDK()">Open create channel modal</button>
  </div>
  <div class="column" *ngIf="stateService.currentChannel && chat">
    <h1>Chat</h1>
    <div>
      <p>PubNub initialized with: {{ pubnub.getUUID() }}</p>
    </div>
    <app-message-input-chat [typingSent]="typingSent" [channel]="stateService.currentChannel" />
    <app-typing-indicator-chat [channel]="stateService.currentChannel" />
    <app-message-list-chat [channel]="stateService.currentChannel" [chat]="chat" />
    <app-create-channel-modal-chat [chat]="chat" />
    <app-channel-list-chat [chat]="chat" />
    <button (click)="toggleCreateChannelModalChatSDK()">Open create channel modal</button>
    <div *ngIf="forwardChannel">
      <app-message-list-chat [channel]="forwardChannel" [chat]="chat" />
    </div>
    <app-create-direct-conversation-modal-chat [chat]="chat" />
    <button (click)="toggleCreateDirectConversationModalChatSDK()">Open create direct conversation modal</button>
  </div>
</div>
