<div id="app" class="flex">
  <div class="column">
    <h1>SDK</h1>
    <div>
      <p>PubNub initialized with: {{ pubnub.getUUID() }}</p>
    </div>
    <app-message-input-sdk [pubnub]="pubnub" [channel]="channel.id" [typingSent]="typingSent" />
    <app-typing-indicator-sdk [typingReceived]="typingReceived" [pubnub]="pubnub" />
    <app-message-list-sdk [messages]="messages" />
  </div>
  <div class="column">
    <h1>Chat</h1>
    <div>
      <p>PubNub initialized with: {{ pubnub.getUUID() }}</p>
    </div>
    <app-message-input-chat [channel]="channel" [typingSent]="typingSent" />
    <app-typing-indicator-chat [channel]="channel" [pubnub]="pubnub" />
    <app-message-list-chat [channel]="channel" />
  </div>
</div>
