<div class="createChannelModalWrapper" *ngIf="createChannelModalOpen">
  <div class="createChannelModalWrapper__content">
      <h2>Create channel modal</h2>
      <form (ngSubmit)="submitCreateChannelForm()">
          <fieldset>
              <label for="channelName">Channel name</label>
              <input [(ngModel)]="channelNameInput" type="text" id="channelName" name="channelName" />
              <input type="submit" value="Submit">
          </fieldset>
      </form>
      <div (click)="toggleCreateChannelModal()">Close</div>
  </div>
</div>
