<div class="channels-relevant-to-user-modal">
  <div class="channels-relevant-to-user-modal__content">
    <span class="channels-relevant-to-user-modal__close-button" (click)="closeChannelsRelevantToUser()">&times;</span>
    <ul>
      <li *ngFor="let userMentionItem of enhancedUserMentionsData">
        <div>
          <span>
            {{ renderUserMention(userMentionItem) }}
          </span>
          <br />
          Relevant message:
          <span *ngFor="let messagePart of userMentionItem.message.getLinkedText()">
               <span class="linked-text" [innerHTML]="renderMessagePart(messagePart) | byPassSecurity"></span>
          </span>
        </div>
        <hr />
      </li>
    </ul>
  </div>
</div>
