---
import Layout from "../layouts/Layout.astro"
import AuthGate from "../components/AuthGate.svelte"
import UserInfo from "../components/UserInfo.svelte"
import Subscriptions from "../components/Subscriptions.svelte"
import UserMethods from "../components/UserMethods.vue"
import ChannelMethods from "../components/ChannelMethods.tsx"
import AdminMethods from "../components/AdminMethods.vue"
---

<Layout title="Chat">
  <main>
    <AuthGate client:only />
    <h2>PAM tokens (Svelte)</h2>
    <UserInfo client:only />
    <hr class="my-12 border-gray-400" />
    <h2>Subscriptions (Svelte)</h2>
    <Subscriptions client:only />
    <hr class="my-12 border-gray-400" />
    <h2>User methods (Vue)</h2>
    <UserMethods client:only />
    <hr class="my-12 border-gray-400" />
    <h2>Channel methods (React)</h2>
    <ChannelMethods client:only="react" />
    <hr class="my-12 border-gray-400" />
    <h2>Admin methods (Vue)</h2>
    <AdminMethods client:only />
  </main>
</Layout>
