---
import LoginForm from "../components/LoginForm.svelte"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Login">
  <main class="max-w-md">
    <h2 class="text-3xl font-extrabold mb-4">Login</h2>
    <LoginForm client:only />
  </main>
</Layout>
